body {
    background-color: #202124;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
    font-family: Helvetica Neue, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.site-header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    margin: 0;
    font-size: 24px;
}

.site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.site-nav li {
    margin-left: 20px;
}

.site-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.site-nav a:hover {
    text-decoration: underline;
}

#quoteContainer,
#generator {
    background: linear-gradient(135deg, #007bff, #28a745);
    border: 2px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 25px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

#copyQuoteButton,
#copyNicknameButton,
#copyPasswordButton {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #218838;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#copyQuoteButton:hover,
#copyNicknameButton:hover,
#copyPasswordButton:hover {
    background-color: #0069d9;
}

#generateQuote,
#generateNickname,
#generatePassword {
    padding: 10px 20px;
    background-color: #0069d9;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#generateQuote:hover,
#generateNickname:hover,
#generatePassword:hover {
    background-color: #218838;
}

p {
    margin-top: 20px;
    font-size: 18px;
}


.site-footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* İçeriği ortalamak için */
}

.site-footer p {
    margin: 0;
}